@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
* {
    font-family: "Lato", sans-serif;
    margin: 0;
    color: #454a4e;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.blue-text {
    color: #2F498A;
}

.navbar-nav .dropdown-menu {
    border-radius: 0;
    border-top: 3px solid orange;
}

.navbar-nav .dropdown-item.active,
.navbar-nav .dropdown-item:active {
    color: #000;
}

.navbar-nav .dropdown-item {
    font-size: 12px;
    letter-spacing: 0.06rem;
}

.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item:hover {
    background-color: #EDEFF1;
}

.mobile {
    display: none !important;
}

.dropdown-toggle::after {
    content: "\f078" !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    color: #fff !important;
    position: absolute;
    /* right: -1px; */
    /* left: 10px; */
    top: 8px;
    z-index: 1;
    font-size: 10px;
    text-align: center;
    width: 5%;
    /* right: -5px; */
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    border: 0px !important;
}

.navbar-brand {
    width: 250px;
    display: block;
}

.navbar-contact-module {
    border: 2px solid #ececed;
}

.calling-no {
    color: #60636d;
    text-decoration: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

a:hover {
    color: #DD6522;
}

p.contact-p {
    margin-bottom: 30px;
    font-size: 15px;
}

.contact-block-title {
    color: #41494d;
    font-size: 13px;
}

.navbar-icon-module>a {
    padding: 1rem;
    border-left: 1px solid #ececed;
    display: flex;
    align-items: center;
}

.navbar-icon-module {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-item:hover .dropdown-menu {
    display: block;
}

.menu-bar {
    background-color: #60636d !important;
    height: 100%;
}

.menu-bar .nav-link {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.06rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.menu-bar a.nav-link:hover {
    border-bottom: 2px solid #DD6522;
    display: block;
}

.banner-slider-section {
    position: relative;
}

.banner-slider-text-module {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 51%;

}

.banner-icon-text h5 {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    color: #41494d;
}

.banner-icon-module div img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transform: scale(1);
    transition: all 300ms ease-in-out;
}

.banner-icon-text:hover img {
    transform: scale(1.1);
}

.banner-icon-module-fourth img {
    width: 100px;
}

.banner-slider-text {
    width: 50%;
}

.banner-slider-heading h4 {
    text-align: left;
}

.banner-slider-heading {
    font-size: 29px;
    color: #fff;
}

.banner-slider-heading span {
    font-weight: bold;
}

.banner-slider-section .slick-dots .slick-active button:before {
    background: #2e1ede;
}

.banner-slider-section .slick-dotted.slick-slider {
    margin-bottom: 57px;
}

.banner-slider-section .slick-dots li button:before {
    background: #ffffff;
    height: 3px;
    width: 50px;
    border-radius: 10px;
    font-size: 0;
}

.banner-slider-section .slick-dots li {
    margin: 0 20px;
}

.banner-icon-text {
    background: #ffffffa3;
    text-align: center;
    padding: 1rem;
    margin: 0px;
}

.line {
    border-bottom: 3px solid;
    width: 40px;
    margin: 0 auto;
    color: #344284;
    margin-bottom: 20px;
    display: flex;
}

h4.section-video-module {
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.grey-bg {
    background-color: #eeeff0;
}

.orange-button {
    background-color: #DC6523;
    color: white;
    padding: .375rem .75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0px;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}


#testimonial-slider .testomonial-comment {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
    white-space: nowrap;
    transition: max-height 0.2s ease;
}

.testimonial {
    text-align: center;
    background-color: #ffffff00;
    border-radius: 10px;
    padding: 0;
    margin: 20px;
    margin-bottom: 20px;
    box-shadow: none;
}

.testomonial-comment {
    background: #fff;
    padding: 30px 20px;
    border-radius: 3px;
    font-size: 15px;
}

#testimonial-slider .testomonial-comment:hover {
    white-space: normal;
    max-height: 300px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    margin-left: 20px;
    margin-bottom: 5px;
}


.Clients img {
    border: 1px solid #dddd;
}

.cleint-name-div {
    margin-top: 15px;
    display: inline-flex;
    margin-left: 10px;
    float: left;
}


.slider-container .slick-dots {
    bottom: -50px;
}

.slider-container .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #344284;
}

.slider-container .slick-dots li button:before {
    font-size: 13px;
    width: 40px;
    height: 40px;
}

.footer-section {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2rem 0 0;
}

.footer-section p,
.newsletter-p {
    font-size: 14px;
    font-weight: bold;
    color: rgb(52, 66, 132);
    margin-top: 0px;
    margin-bottom: 16px;
    box-sizing: border-box;
    text-decoration: none;
}

.footer-social-icon-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-icon-list li {
    margin: 0 2px;
}

.footer-bar {
    padding: 3rem;
    border-top: 1px solid #000;
}

.footer-bar a,
.footer-bar p {
    font-size: 13px;
    color: #41494d;
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 0;
}

.w-30 {
    width: 10%;
}

.w-70 {
    width: 80%;
}

.form-label {
    margin-bottom: 10px;
    font-size: 16px;
}

.form-input {
    width: 200px;
    border: none;
    padding-bottom: 5px;
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid #9a9a9b;
    line-height: 2;
    margin-left: 10px;
    min-width: 300px;
    margin-bottom: 10px;
}

.orange-button[type="submit"] {
    background-color: #dd6523;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 4px 20px;
    text-transform: uppercase;
}

.tab-container {}

.tab-header {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5rem;
}

.tab-header-item {
    cursor: pointer;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-header .tab-title {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 40px;
    transition: 0.3s;
    font-size: 14px;
    color: #454a4e;
    text-decoration: none;
}

.tab-header .active .tab-title {
    background-color: #2f498a !important;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    font-weight: 600;
}

.adress-section {
    font-size: 15px;
}

.adress-section p {
    margin-bottom: 10px;
}

.adress-section a,
.working-hr-section a,
.working-hr-section p {
    font-size: 15px;
    color: #2f498a;
    text-decoration: none;
}

.working-hr-section p.bold {
    padding-top: 16px;
    font-size: 15px;
    font-weight: 600;
}

.w-80 {
    width: 80%;
}

.contact-page-form-section .form-input {
    min-width: unset;
    border-bottom: 1px solid #ced4da;
}

.contact-page-form-section textarea.form-input {
    border: 1px solid #ced4da;
    resize: none;
    padding: 10px;
}

.calling-no {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #60636d;
}

.contact-page-social .calling-no {
    padding-left: 0;
}

.call-us {
    text-decoration: none;
}

.dron-services-banner-section{
    background: url('/images/Drone-Services_Banner.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0; 
    z-index: -1;
    background-position: right;
}

@media only screen and (max-width: 768px) {
    .menu-bar .navbar-toggler {
        position: fixed;
        height: auto;
        width: fit-content;
        top: 2%;
        right: 10%;
        background-color: transparent !important;
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
        position: absolute;
    }

    .menu-bar .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

}

@media only screen and (max-width: 600px) {
    .tab-header {
        flex-wrap: wrap;
    }

    .tab-header-item,
    .tab-header .tab-title {
        width: 100%;
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .navbar>.container>.row {
        margin: auto;
    }

    .banner-slider-text {
        width: 100%;
    }

    .banner-slider-text-module {
        width: 80%;
    }
}